{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true
    },
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }]
    }
}