.content-with-sidebar {
    .container {
        @include breakpoint(from-desktop) {
            display: flex;
        }
    }

    &.side-left {
        .sidebar {
            order: -1;
            z-index: -10;
            background-color: $site-grey;
            padding: 60px 0 0 40px;
            margin: -65px 0 -80px -60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a{
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: bold;
                color: $ui-scheme-dark-text;
            }:hover{
                color: $site-green;
            }
            @include breakpoint(to-tablet){
                margin: 0;
                padding: 40px 0 20px 40px;
            }    
        }
        .content {
            padding-right: 0;

            .editor{
                h2, h4{
                    color: $site-green;
                }

                h2{
                    img{
                        height: 400px;
                        border-radius: 25px;
                        object-position: top;
                        object-fit: cover;
                        margin-left: 45px;
                        margin-right: 20px;
                    }
                    @include breakpoint(to-tablet){
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 25px;

                        img{
                            float: unset;
                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 25px;
                        }
                    }
                    @include breakpoint(desktop-sml){
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 25px;

                        img{
                            float: unset;
                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }

    &.side-right {
        .sidebar {
            padding-right: 0;
        }

        .content {
            padding-left: 0;
        }
    }

    &.side-hidden {
        .sidebar {
            display: none;
        }

        .content {
            padding: 0;
        }
    }

    .content,
    .sidebar {
        padding: 1rem 0;

        @include breakpoint(from-desktop) {
            padding: 0 1rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 2rem;
        }
    }

    .content {
        flex: 8;

        @include breakpoint(from-desktop-mid) {
            flex: 9;
        }
    }

    .sidebar {
        flex: 4;

        @include breakpoint(from-desktop-mid) {
            flex: 3;
        }
    }
}
